#jumbotron {
    padding-top: 7rem;
    background-color: #e2edff;
}

#banksampah {
    padding-top: 7rem;
    background-color: #e2edff;
}

#about {
    background-color: #ffff;
}

section {
    padding-top: 5rem;
}
